<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a ws-is-active-route asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="dropdown">
            <a href="#">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route asp-controller="Catalog" asp-action="Index">Products</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="ProductDetails">Product Details</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="Checkout">Checkout</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="Cart">Cart</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="Login">Login</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route asp-controller="Home" asp-action="Blog">Blog List</a></li>
                <li><a ws-is-active-route asp-controller="Home" asp-action="BlogSingle">Blog Single</a></li>
            </ul>
        </li>
        <li><a ws-is-active-route asp-controller="Home" asp-action="Error404">404</a></li>
        <li><a ws-is-active-route asp-controller="Home" asp-action="ContactUs">Contact</a></li>
        <li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Employees</a></li>
        <li><a ws-is-active-route asp-controller="WebAPI" asp-action="Index" class="@IsActive("WebAPI")">WebAPI</a></li>
    </ul>
</div>

@functions
{
    string IsActive(string Controller, string Action = "Index") =>
        Equals(ViewContext.RouteData.Values["Controller"], Controller) &&
        Equals(ViewContext.RouteData.Values["Action"], Action)
            ? "active"
            : null;
}