

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#">Main</a></li>
        <li class="active">
            <a asp-controller="Catalog" asp-action="Index">Catalog</a>
        </li>
        <li class="active">
            <a asp-controller="Catalog" asp-action="Index">Section</a>
        </li>
        <li class="active">
            <a asp-controller="Catalog" asp-action="Index">Brand</a>
        </li>
        <li class="active">Product</li>
    </ol>
</div>